.logo-board-wrapper {
  background: white;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.tile {
  margin: 0px 16px;
  padding: 4px;
  height: fit-content;
  height: 56px;
  width: 56px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 8px;
}

@media (max-width: 1300px) {
  .logo-board-wrapper {
    padding: 24px 16px;
    position: static;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    height: fit-content;
  }

  .tile {
    margin: 16px 16px;
  }
}
