.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 80%;
  background: ivory;
  border-radius: 8px;

  min-width: 300px;
}

.pop {
  left: 20%;
  bottom: 0;
  font-size: 8em;
  letter-spacing: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 192, 192);
}
.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 192, 192);
}
.graphic {
  position: relative;
  width: 700px;
  margin: 20px 8px;
  height: 72vh;

  overflow: hidden;
  text-overflow: clip;
}
.overlay {
  position: absolute;
  font-size: 3em;
  margin-left: 8px;
  top: 0%;
  mix-blend-mode: difference;
}

.container {
  max-width: 300px;
  margin: 12px 0px;
}

.container > div {
  margin: 12px 0px;
  font-weight: 200;
}
