.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 80%;
  background: ivory;
  border-radius: 8px;
  min-width: 300px;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 192, 192);
}
.graphic {
  position: relative;
  width: 700px;
  margin: 20px 8px;
  max-height: 850px;
  overflow: hidden;
  text-overflow: clip;
}
.overlay {
  position: absolute;
  font-size: 3em;
  line-height: 1.2em;
  margin-left: 8px;
  top: 0%;
  max-height: 650px;
  mix-blend-mode: difference;
}

.container {
  max-width: 300px;
  margin: 12px 0px;
}

.container > div {
  margin: 12px 0px;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .overlay {
    font-size: 2.2em;
  }
}
