.pop {
  left: 20%;
  bottom: 0;
  font-size: 8em;
  letter-spacing: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 192, 192);
}

.container {
  max-width: 500px;
}
