.article {
  width: 600px;
  line-height: 2em;
  & h2 {
    text-decoration: underline rgb(255, 192, 192);
    text-decoration-thickness: 4px;
    text-underline-offset: -0.5rem;
  }

  & h3 {
    text-decoration: underline rgb(255, 192, 192);
    text-decoration-thickness: 4px;
    text-underline-offset: -0.5rem;
  }

  & img {
    max-height: 600px;
    max-width: 600px;
  }
}
