:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: scroll;
}
.content {
  height: 100%;
  margin-top: 16px;
}

@media (min-width: 1000px) {
  .wrapper {
    margin: 0 auto;
    width: 1300px;

    overflow: hidden;
  }
}

.wrapper {
  margin-top: 20px;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  padding: 4px;
  line-height: 22px;
  margin: 12px 0px;
}

h1,
h2,
h3,
h4 {
  font-family: "Courier New", Courier, monospace;
}
body {
  color: var(--foreground);
  /* background: var(--background); */
  /* background: #0a0a0a; */
  background: ivory;

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  min-height: 100vh;
}
