.wrapper {
  position: relative;
}

.container {
  height: 500px;
  margin-top: 15%;
  clip-path: circle(50%);
  filter: hue-rotate(280deg) blur(50px);
  display: flex;
  rotate: 190deg;
}

.banner {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  left: 0;
  letter-spacing: 8px;
  color: rgb(227, 14, 206);
  mix-blend-mode: difference;
  z-index: 6;

  h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    clip-path: none;
    top: 10px;
    height: 100%;
  }

  .banner {
    top: 40%;
  }
}
