.container {
  max-width: 1000px;
  margin: 16px;
}

.BlogContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 800px) {
  .BlogContainer {
    flex-wrap: wrap;
  }
}
